<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}Job Scraper{{ end }}</title>
  <link rel="stylesheet" href="/public/css/style.css" type="text/css"/>
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png"/>
  <script src="/public/js/main.js" type="application/javascript" async></script>
</head>
<body class="bg-gray-100">
  {{ block "main" . }}<h1>URL Scraper</h1>{{ end }}
  {{ template "components/flash" . }}
</body>
</html>
